<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <h1>Pet Social</h1>
  </head>
  <body>
    <%- include('../partials/header') %>
    <h2>CHECK OUT THE LOCALS BEING SOCIAL!</h2>
    <br />
    <br />
    <% if(posts.length) { %> 
      <% posts.forEach(function (p) { %>
        <img src="<%= p.image %>" />
        <br>
        <%= p.description %>
        <form
          action="/posts/<%= p.id %>?_method=DELETE"
          method="POST"
          class="delete-form"
          >
            <button type="submit">X</button>
        </form>
      <form action="/posts/<%= p._id %>/comments" method="POST">
        <label><h4> Add a comment...</h4></label>
          <input type="text" name="comment" />
        <button type="submit">Post</button>
      </form>
      <label><h4>All Comments</h4></label>
      <% if(p.comments.length) { %> 
        <% p.comments.forEach(function(c) { %>
          <div id="commentContent">
            <label><%= c.comment %></label>
            <button id="openEditForm">Edit</button>
          </div> 
          <div id="editCommentForm" style="display: none;">
            <form action="/comments/<%= c.id %>?_method=PUT" method=POST>
              <input type="text" name="comment">
              <button type="submit">Update</button>
            </form>
            <form
            action="/comments/<%= c.id %>?_method=DELETE"
            method="POST"
            class="delete-form"
            >
            <button type="submit">X</button>
          </form>
        </div>
          <% }); %>
      <% } else { %>
          <label><h4>No Comments Yet</h4></label> 
      <% }; %> 
      <br>
      <br>
    <% }); %> 
    <% } else { %>
      <h3>No Posts Yet</h3>
    <% }; %>
  </body>
  <script src="javascripts/script.js"></script>
</html>
