<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
  <h1>Pet Social</h1>
  </head>
  <body>
    <%- include('../partials/header') %>
    <h2>CHECK OUT THE LOCALS BEING SOCIAL!</h2>
    <br />
    <br />
    <% if(posts.length) { %> 
      <% posts.forEach(function (p) { %>
        <img src="<%= p.image %>" />
        <br>
        <br>
    <% if (user) { %>
        <label class="post-user"><img alt="avatar" src="<%= p.userAvatar %>" referrerpolicy="no-referrer" ><%= p.userName %>> </label>
    <% } %>
        &nbsp&nbsp&nbsp&nbsp&nbsp
        <%= p.description %>
        <br>
        <%= p.location %>
        <br>
        <br>
    <% if (user) { %>
        <form action="/posts/<%= p.id %>?_method=DELETE"
          method="POST"
          class="delete-form"
          >
            <button type="submit">X</button>
        </form>
    <% } %>
    <% if (user) { %> 
      <form action="/posts/<%= p._id %>/comments" method="POST">
        <label><h4> Add a comment...</h4></label>
          <input type="text" name="comment" />
        <button type="submit">Post</button> 
      </form>
    <% } %>
      <label><h4>All Comments</h4></label>
      <% if(p.comments.length) { %> 
        <% p.comments.forEach(function(c) { %>
            <label class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %>> </label>
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <%= c.comment %>
            &nbsp&nbsp&nbsp&nbsp
    <% if (user) { %>
            <label class="commentContent"></label>
            <button class="openEditForm">Edit</button>
            <br>
            <br>
          <div class="editCommentForm" style="display: none;">
            <form action="/comments/<%= c.id %>?_method=PUT" method=POST>
              <input type="text" name="comment">
              <button type="submit">Update</button>
            </form>
            <form
            action="/comments/<%= c.id %>?_method=DELETE"
            method="POST"
            class="delete-form"
            >
            <button type="submit">X</button>
          </form>
        </div>
    <% } %>
        <% }); %>
      <% } else { %>
          <label><h4>No Comments Yet</h4></label> 
      <% }; %> 
      <br>
      <br>
    <% }); %> 
    <% } else { %>
      <h3>No Posts Yet</h3>
    <% }; %>
  </body>
  <script src="javascripts/script.js"></script>
</html>
