<%- include('../partials/header') %>

 <h2>USERNAME/USERS POST COLLECTION</h2>
 <table>
   <thead>
     <tr>
       <th>Description</th>
       <th>Comment</th>
       <th>Like</th>
     </tr>
   </thead>
   <tbody>
    <% if (posts.length) { %>
        <% posts.forEach(function(p) { %>
            <tr>
            <td><%= p.photo %></td>
            <td><%= p.description %></td>
            
            <td><%= p.like ? 'Yes' : 'No'  %></td>
            </tr>
        <% }) %> 
        <% } else { %>
            <h5>No Posts Yet</h5>
       <% } %>
   </tbody>
 </table>

 <%- include('../partials/footer') %>
